
p{
    color: #ffffff;
}

img {

}

label{
    color: #fff;
}

.title{
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 34px;
    margin-bottom: 0;
    letter-spacing: 1.2px;
    text-shadow: 0 2px 5px #ccc;
}

.title p{
    margin-bottom: 0;
}


.status{
    padding-top: 1rem;
    /*padding-bottom: 2rem;*/
}

.zyoho{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.remane{
    font-size: 2.5rem;
    margin: 0 auto;
    padding-top: rem;
}

.day{
    margin: 0 auto;
    margin-top: 1.5rem;
    line-height: 1rem;
}

.day p{
    font-size: 1.8rem;
}

label{
    margin-right: 1rem;
}

.btn-outer{
    display: flex;
    justify-content: center;
    margin: 6px 0 15px;
}
.btn{
    background-color: #FF0085;
    /*width: 80px;*/
    height: 40px;
    border: 0px;
    color: #fff;
}

.btn:hover{
    background-color: #ff569a
}

.bbb{
    padding-top: 3rem;

}
.trim-image-to-circle {

    background-size: cover;

    width:  290px;       /* ※縦横を同値に */
    height: 290px;       /* ※縦横を同値に */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
    background-color: #fff;

}
.edit-image-label{
    background-color: #ff0085;
    text-align: center;
    padding: 5px 0;
    border-radius: 7px;
}
.edit-image{
    color: #ffffff;
}
.edit-image:hover{
    opacity: 0.8;
}

.mod-image{
    border-style: none;
    background-color: rgba(255,255,255,0.4);
    color: #ffffff;
}
.mod-image:hover{
    opacity: 0.8;
}

.col-xs-12{
    display: flex;
    justify-content: center;
}

.img-change-btn{
    background-color: #777;
    text-align: center;
    padding: 5px 0;
    border-radius: 7px;
    border: none;
    width: 150px;
    margin: 10px 0 5px 0;
}

.t_comment{
    height: 50px;
}